* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

h1 {
    text-align: center;
    /* font-family: 'Aclonica', sans-serif; */
    /* font-family: 'Unlock', cursive; */
    /* font-family: 'Chivo', sans-serif; */
    font-family: 'Goblin One', sans-serif;
    font-size: 6em;
    color: white;
    padding: 3px;

    text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
     -1px 1px 0 black,
      1px 1px 0 black;
}

#rubella {
    z-index: 1;
}

#graves {
    margin-top:-60px;
}

body {
    height: 100%;
    background-color: black;
    background-image: 
        linear-gradient(
            black 40%,            
            rgb(127, 129, 127), 
            rgb(205, 205, 212)
        );
    background-repeat: no-repeat;
    background-attachment: fixed;
}